{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		{# 		{% for child in cat_children %}
											<div class="col-sm-3">
												<a href="{{ path('category.subcategory', {categorySlug: parent_slug, subcategorySlug: child.slug} ) }}">
													<button>{{child.name}}</button>
												</a>
											</div>
										{% endfor %} #}

	</p>

	This friendly message is coming from:
	<ul>
		<li>Your controller at
			<code>
				<a href="{{ '/Users/ulce31/DEV/WEB/symfonyProjects/sfprjct-1/src/Controller/CategoryController.php'|file_link(0) }}">src/Controller/CategoryController.php</a>
			</code>
		</li>
		<li>Your template at
			<code>
				<a href="{{ '/Users/ulce31/DEV/WEB/symfonyProjects/sfprjct-1/templates/category/index.html.twig'|file_link(0) }}">templates/category/index.html.twig</a>
			</code>
		</li>
	</ul>
</div>

{{dump(result)}}{% endblock %}
