{% extends "base.html.twig" %}


{% block body %}
	<h1>{{subcategory.name | title}}</h1>
	<div class="row">
		{% for gif in gifs %}
			<div class="col-sm-4">
				<a href="{{ path('gif', {slug:gif.slug} ) }}">
					<img src="{{ asset('img/'~ gif.name) }}" alt="" class="img-fluid">
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
