{% extends 'base.html.twig' %}

{% block title %}Hello GifController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/Users/ulce31/DEV/WEB/symfonyProjects/sfprjct-1/src/Controller/GifController.php'|file_link(0) }}">src/Controller/GifController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/Users/ulce31/DEV/WEB/symfonyProjects/sfprjct-1/templates/gif/index.html.twig'|file_link(0) }}">templates/gif/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>

	<div class="row">
		<div class="col-sm-4 mx-auto">
			<img src="{{ asset('img/'~ gif.name) }}" alt="" class="img-fluid">
		</div>
	</div>

{% endblock %}
