{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/Users/ulce31/DEV/WEB/symfonyProjects/sfprjct-1/src/Controller/SearchController.php'|file_link(0) }}">src/Controller/SearchController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/Users/ulce31/DEV/WEB/symfonyProjects/sfprjct-1/templates/search/index.html.twig'|file_link(0) }}">templates/search/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
	{% if results != null %}
		{# Traitement en fonction de la presence de categorie parent ou non #}
		{% if results.parents != null %}
			{% for parent in results.parent %}


			{% endfor %}
		{% endif %}

		{% for item in results %}
		<h2>{{item.name}}
			-
			{{item.id}}
		</h2>
			{# Je n'arrive pas à obtenir le gif 

			<img src="{{asset('img/'~ item.gif.name) }}" class="img-fluid" alt=""> 
			
			#}
		{% endfor %}
			
	{% else %}
		<h2>Nous n'avons pas de categorie commençant par : {{app.request.get('category')}}</h2>  
	{% endif %}

{% endblock %}
