<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		{{encore_entry_link_tags('app')}}
	</head>
	<body>
		{% include "inc/nav.html.twig" %}
		<div class="container"> {% block body %}{% endblock %}{% block javascripts %}{% endblock %}
			{{encore_entry_script_tags('app')}}
		</div>

	</body>
</html>
