{% extends "base.html.twig" %}

{% block body %}
	<h1>Formulaire</h1>
	{{ form_start(form, {attr : {novalidate: 'navalidate' } } )}}
	<p>
		{{ form_label(form.name, 'Image :  ')}}
		{{ form_widget(form.name)}}
		{{ form_help(form.name)}}
	</p>
	<p>
		<input type="submit" class="btn btn-info">
	</p>
	{{form_end(form)}}

{% endblock %}
