{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<h1>Profil</h1>

		<a href="{{url('profile.homepage.form')}}">Ajouter</a>


		<table class="table table-scriped">
			<tr>
				<th>Image</th>
				<th>Catégorie</th>
				<th>Sous-catégorie</th>
				<th></th>
			</tr>
			{% for gif in gifs %}
				<tr>
					<td>
						<img src="{{asset('img/'~ gif.name) }}" class="img-fluid" alt="">
					</td>
					<td>{{gif.category.parent.name | title}}</td>
					<td>{{ gif.category.name | title }}</td>
					<td></td>
				</tr>
				{% endfor%}
			</table>
		</div>

	{% endblock %}
