<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">GIPHY</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('homepage.index') }}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categories
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{% for item in get_categories()%}
						<a class="dropdown-item" href="{{ path('category', {slug: item.slug} ) }}">{{item.name}}</a>
					{% endfor %}
				</div>
			</li>
		</ul>

	</div>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('security.logout') }}">Déconnexion</a>
			</li>
		</div>
	{% else %}
		<div class="navbar-nav ml-auto">
			<li class="nav-item ">
				<a class="nav-link" href="{{ path('security.register') }}">Enregistrer</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('security.login') }}">Se connecter</a>
			</li>
		</div>
	{% endif %}

	<form class="form-inline my-2 my-lg-0" action="{{path('search')}}" method="POST">
		<input class="form-control mr-sm-2" name="category" type="search" placeholder="Une categorie" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
	</form>


</div></nav>
